<!DOCTYPE html>
html(lang="en")
 head
     meta(charset="UTF-8")
     title #{docTitle}
     link(rel="stylesheet" href="/css/main.css")
     link(rel="stylesheet" href="/css/product.css")
 body
     header.main-header
         nav.main-header__nav
             ul.main-header__item-list
                 li.main-header__item
                    a.active(href="/") Shop
                 li.main-header__item
                    a(href="/admin/add-product") Add Product
     main
        if prods.length > 0
            div.grid
                each product in prods
                    article.card.product-item
                        header.card_header
                            h1.product__title #{product.title}
                        div.card__image
                            img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTdtcjGz1I7FQo0J5KEgltxZn-E5l7hNj6ZA1mP6HlWOy_CfZgj', alt='My Book')
                        div.card_content
                            h2.product__price $19.99
                            p.product__description A very interesting book about so many even more interesting things
                        div.card__actions
                            button.btn Add to Cart
        else
            h1 No Products